.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
  background: #ffffff;              /* nền trắng rõ */
  padding: 16px 32px;
  border-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* ĐỔ BÓNG RÕ */
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.08);

  /* tạo khoảng cách với nội dung dưới */
  margin-bottom: 40px;

  /* đảm bảo shadow không bị che */
  position: relative;
  z-index: 10;
}

body {
  background: #f4f6f8; /* xám rất nhạt */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*nút đăng nhập đăng kí đổi màu*/
.btn-outline {
  background: #fff;
  border: 1px solid #1e90ff;
  color: #1e90ff;
  transition: all 0.2s ease;
}

.btn-outline:hover {
  background: #1e90ff; /* nền xanh */
  color: #fff;         /* chữ trắng */
  position: relative;
  z-index: 10;
}

/*các nút chức năng đổi màu*/
.menu-card h3 {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 10px;
  transition: background 0.2s ease, color 0.2s ease;
}

.menu-card h3:hover {
  background: #111 ; /* xám nhạt đẹp */
  color:#e5e7eb ;
}


.db-status {
  position: fixed;       /* luôn ở góc màn hình */
  top: 100px;            /* cao thấp chỉnh tùy ý */
  right: 20px;           /* sát bên phải */
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  background: #f5f5f5;
  transition: all 0.3s ease;
}

/* trạng thái success */
.db-status.success {
  background: #e6f7ec;
  color: #1e7e34;
}

/* trạng thái error */
.db-status.error {
  background: #fdecea;
  color: #c82333;
}
